<h1 class="title is-1 my-2">Clasificaciones</h1>
<button type="button" class="button" (click)="back()">
  <fa-icon icon="arrow-left"></fa-icon>
  <span>Regresar</span>
</button>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Jugador</th>
      <th>Partidas</th>
      <th>Victorias</th>
      <th>Derrotas</th>
      <th><abbr title="Puntos ganados">PG</abbr></th>
      <th><abbr title="Puntos perdidos">PP</abbr></th>
      <th><abbr title="Diferencia">DIF</abbr></th>
      <th><abbr title="Efectividad">EFEC</abbr></th>
    </tr>
  </thead>
  <tbody>
    @for (ranking of rankings; track ranking.player.ID) {
    <tr>
      <td>{{ ranking.player.Name }}</td>
      <td>{{ ranking.totalMatches }}</td>
      <td>{{ ranking.victories }}</td>
      <td>{{ ranking.totalMatches - ranking.victories }}</td>
      <td>{{ ranking.pointsEarned }}</td>
      <td>{{ ranking.pointsLost }}</td>
      <td>{{ ranking.pointsEarned - ranking.pointsLost }}</td>
      <td>
        {{
          (100 * ranking.victories) / (ranking.totalMatches || 1)
            | number : "1.2-2"
        }}
        %
      </td>
    </tr>
    }
  </tbody>
</table>
