<h1 class="title is-1 my-2">Clasificaciones</h1>
<p class="subtitle mb-2">Lista de las clasificaciones de los jugadores.</p>

<div class="is-flex is-justify-content-space-between">
  <button type="button" class="button" (click)="back()">
    <fa-icon icon="arrow-left"></fa-icon>
    <span>Regresar</span>
  </button>
  <div class="is-flex gap-1">
    <div class="field" style="width: 6rem">
      <div class="control has-icons-left">
        <input
          type="number"
          class="input"
          title="Cantidad mínima de partidas para calificar"
          [(ngModel)]="qualifyingThreshold"
          (ngModelChange)="sortRankings()"
          min="1"
        />
        <span class="icon is-small is-left">
          <fa-icon icon="ranking-star"></fa-icon>
        </span>
      </div>
    </div>
    <button
      type="button"
      class="button is-success is-outlined"
      (click)="exportCSV()"
    >
      <fa-icon icon="file-csv"></fa-icon>
    </button>
  </div>
</div>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Jugador</th>
      <th>Nombre</th>
      <th><abbr title="Partidas jugadas">PJ</abbr></th>
      <th><abbr title="Partidas ganadas">PG</abbr></th>
      <th class="has-text-danger"><abbr title="Partidas perdidas">PP</abbr></th>
      <th><abbr title="Puntos ganados">PTOS. G</abbr></th>
      <th class="has-text-danger">
        <abbr title="Puntos perdidos">PTOS. P</abbr>
      </th>
      <th><abbr title="Diferencia">DIF.</abbr></th>
      <th><abbr title="Efectividad">EFECT.</abbr></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (ranking of rankings; track ranking.player.ID; let idx = $index) {
    <tr
      [ngClass]="
        ranking.totalMatches >= qualifyingThreshold ? 'is-selected' : ''
      "
    >
      <td>{{ idx + 1 }}</td>
      <td>{{ ranking.player.Name }}</td>
      <td>{{ ranking.totalMatches }}</td>
      <td>{{ ranking.victories }}</td>
      <td class="has-text-danger">
        {{ ranking.totalMatches - ranking.victories }}
      </td>
      <td>{{ ranking.pointsEarned }}</td>
      <td class="has-text-danger">{{ ranking.pointsLost }}</td>
      <td>{{ ranking.pointsEarned - ranking.pointsLost }}</td>
      <td>
        {{
          (100 * ranking.victories) / (ranking.totalMatches || 1)
            | number : "1.2-2"
        }}
        %
      </td>
      <td>
        @if (ranking.totalMatches === 0) {
        <button
          type="button"
          class="button is-danger is-small is-outlined"
          (click)="deletePlayer(ranking)"
        >
          <fa-icon icon="trash-alt"></fa-icon>
          <span class="sr-only"
            >Eliminar jugador {{ ranking.player.Name }}</span
          >
        </button>
        }
      </td>
    </tr>
    }
  </tbody>
</table>
