<form novalidate autocomplete="off" [formGroup]="matchForm" (submit)="save()">
  <div class="container">
    <h2 class="title is-2 mb-2">Nueva partida</h2>

    <!-- Date -->
    <div class="field mb-2">
      <label class="label" for="matchDate"> Fecha </label>
      <div class="control">
        <input
          id="matchDate"
          type="date"
          class="input"
          [max]="maxDate"
          formControlName="matchDate"
        />
      </div>
    </div>

    <!-- Teams -->
    <div class="columns">
      <!-- Team A -->
      <div class="column">
        <fieldset class="card">
          <div class="card-content">
            <legend class="title is-4 mb-2">Equipo A</legend>
            <div class="field">
              <label class="label">Jugador 1</label>
              <div class="control">
                <app-autocomplete
                  [items]="players"
                  formControlName="player1"
                ></app-autocomplete>
              </div>
            </div>

            <div class="field">
              <label class="label">Jugador 2</label>
              <div class="control">
                <app-autocomplete
                  [items]="players"
                  formControlName="player2"
                ></app-autocomplete>
              </div>
            </div>

            <div class="field">
              <label class="label">Puntos</label>
              <div class="control">
                <input
                  type="number"
                  class="input"
                  required
                  formControlName="teamAPoints"
                />
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Team B -->
      <div class="column">
        <fieldset class="card">
          <div class="card-content">
            <legend class="title is-4 mb-2">Equipo B</legend>
            <div class="field">
              <label class="label">Jugador 1</label>
              <div class="control">
                <app-autocomplete
                  [items]="players"
                  formControlName="player3"
                ></app-autocomplete>
              </div>
            </div>

            <div class="field">
              <label class="label">Jugador 2</label>
              <div class="control">
                <app-autocomplete
                  [items]="players"
                  formControlName="player4"
                ></app-autocomplete>
              </div>
            </div>

            <div class="field">
              <label class="label">Puntos</label>
              <div class="control">
                <input
                  type="number"
                  class="input"
                  required
                  formControlName="teamBPoints"
                />
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button
          type="submit"
          class="button is-primary"
          tabindex="0"
          [disabled]="matchForm.invalid"
        >
          <fa-icon icon="save"></fa-icon>
          <span>Guardar</span>
        </button>
      </div>
      <div class="control">
        <button type="button" class="button" tabindex="0" (click)="cancel()">
          <fa-icon icon="times"></fa-icon>
          <span>Cancelar</span>
        </button>
      </div>
    </div>
  </div>
</form>
