dialog {
  background-color: var(--bulma-body-background-color);
  color: var(--bulma-body-color);
  font-size: var(--bulma-body-font-size);
  font-weight: var(--bulma-body-weight);
  line-height: var(--bulma-body-line-height);
}

.dialog-buttons {
  gap: 1rem;
}
