/* You can add global styles to this file, and also import other style files */
@import "bulma/bulma.scss";

body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../public/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

fa-icon + * {
  margin-left: 0.25rem;
}

#app {
  height: 100vh;
  text-align: center;
}

button[disabled] {
  cursor: not-allowed;
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 0.75rem !important;
}

.gap-4 {
  gap: 1rem !important;
}

/* Invalid input fields and select dropdowns */
.ng-dirty.ng-invalid > .autocomplete input,
input.ng-dirty.ng-invalid:focus,
select.ng-dirty.ng-invalid:focus,
textarea.ng-dirty.ng-invalid:focus {
  box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
}

.ng-dirty.ng-invalid > .autocomplete input,
input.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid {
  border-color: #f14668;
  outline: #f14668;
  animation: shake 0.3s;
}

@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

/* Floating action button */
.fab-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

.fab-container button {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
